* {
    font-family: "Poppins";
​
  }
.date{
    color: #999;
    font-size: 0.8em;
}
.company{
    background:  rgba(253, 235, 236, 1);
    
}
.location{
    display: none;
}
​
.job{
    font-weight: 900;
}
​
.work-experience{
    margin-bottom: 50px !important;
    padding: 50px !important;

}
.external-link{
    font-weight: light;
    color: #73726E !important;
}
.project-link{
    text-align: right;
    color: #73726E !important;
    text-decoration: none !important;
    border-bottom: solid #838382 1px ;
}
​
.card-text{
    font-size:  0.8em;
}
​
.bg-red{
    background-color: rgba(253, 235, 236, 1);
}
​
.bg-pink{
    background-color: rgba(249, 221, 233, 0.8);
}
​
.bg-blue{
    background-color: rgb(223, 234, 249);
}
​
.bg-purple{
    background-color: rgba(236, 221, 247, 0.8);
}
​
.bg-aqua{
    background-color: rgb(222, 239, 242);
}

.navbar-brand {
    color: #ff9c9c !important;
  }
  
  .nav-link {
    color: #000 !important;
  }
  
  .navbar {
    border-bottom: solid #e1e1e1 1px !important;
  }
  nav{
    margin-bottom: 100px;
  }
​
  .bg-white{
    background-color: #fff;
  }
​
  .negritas {
    font-weight: bold;
  }
  .destacado, #contacto a{
    color: #ed6d6d;
  }

  #contacto i{
    font-size: 30px;
    margin: 20px 10px;
  }
  .destacado2{
    font-weight: bold;
    color: #264E86;
  }
  section{
    margin-top:50px;
  }
  .btn{
    background-color: black;
  color: #fff;
  border: none;
  border-radius: 0px;
  padding: 5px 50px;
  }
  .spacer{
    height: 50px;
  }
  p{
    color: #666;
    line-height: 1.5em;
    font-size: .9em;
  }
  