label {
  font-weight: 500;
}
.btn {
  background-color: black;
  color: #fff;
  border-radius: 0px;
  padding: 5px 70px;
}
​
textarea {
  background-color: #f8f9fa !important;
  border: 0px !important;
}
.alert-warning {
  background-color: #fffcf4;
  border: 0px;
}
.instruction {
  font-size: 0.9em;
}